$white-color: #fff;

.bordered-container {
    width: 910px;
    height: 400px; 
    border: 1px solid $white-color;
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

td.status {
    color: $white-color;
    text-align: center;
}
