<div class="container">
  <div class="row">
    <div id="wrapper" [ngClass]="{ 'toggled': isToggled }">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a id="menu-toggle" (click)="toggleMenu()">
              <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-sort-alpha-asc " aria-hidden="true"></i>
              <span>Section</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-play-circle-o " aria-hidden="true"></i>
              <span> Section</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
              <span> Section</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-font" aria-hidden="true"></i>
              <span> Section</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-info-circle " aria-hidden="true"></i>
              <span>Section </span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              <span> Section</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
